Flask==2.3.3
Flask-SQLAlchemy==3.0.5
SQLAlchemy==1.4.49
Flask-Migrate==4.0.7
Flask-MySQLdb==2.0.0
marshmallow==3.23.0
marshmallow-sqlalchemy==1.1.0
PyMySQL==1.1.1
flask_restful
flask_jwt_extended
cloudinary
flask_cors
flasgger
mysql-connector-python
python-dotenv
gunicorn
psycopg2-binary